body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

svg {
	background: white;
}

.circle {
	fill: rgba(0, 0, 0, 0);
	stroke: #D8D8D8;
	stroke-width: 1px;
}

.notAdmitted {
	stroke: rgba(77, 90, 101, 1);
	fill: white;
	stroke-width: 8px;
}

.admitted {
	stroke: rgba(239, 61, 167, 1);
	fill: white;
	stroke-width: 8px;
}

.notAdmitted:hover {
	stroke: rgba(77, 90, 101, .7);
	stroke-width: 8px;
}

.admitted:hover {
	stroke: rgba(239, 61, 167, .7);
	stroke-width: 8px;
}

.link {
	stroke: #D8D8D8;
	fill: none;
	opacity: .6;
	transition: stroke .4s ease, opacity .4s ease;
}

.blurred.link {
	opacity: .05;
}

.focussed.link.lowWait {
	stroke: #7D44BA;
}

.focussed.link.medWait {
	stroke: #CD69BF;
}

.focussed.link.highWait {
	stroke: #EF3DA7;
}

.label {
	text-anchor: middle;
	font-size: 16px;
	fill: #34495E;
	pointer-events: none;
}

.flowline {
	stroke-dasharray: 78, 2;
	-webkit-animation: flow 6s linear infinite;
	animation: flow 6s linear infinite;
}

@keyframes flow {
	from {
		stroke-dashoffset: 80;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes flow {
	from {
		stroke-dashoffset: 80;
	}

	to {
		stroke-dashoffset: 0;
	}
}